.buttons {
  display: flex;
  flex-direction: wrap;
justify-content: end;
  margin-right: 100px;
}

.search {
  display: flex;
justify-content: center;
align-items: center;
}

.search {
display: flex;
align-items: center;
justify-content: center;
}

.pokedex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #FCEEC8;
}
.container{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
flex-direction: row;
}

.left-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap:2rem;
}
.card{
    width: 300px;
    height: 500px;
    background-color:rgb(186, 184, 184);
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.card:hover {
    transform: scale(1.05,1.07);
    transition-timing-function: ease-out;
    transition-duration: 250ms;

}


#cardImg {
    justify-content: start;
    align-items: start;
  width: 220px;
  height: 220px
}

.cardName {
    display: flex;
align-items: center;
justify-content: center;
}

.detailsFirstLine {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
}

.detailsSecondLine {
    display: flex;
    margin-top: 40px;
    flex-direction: wrap;
    justify-content: space-between;
}


.abilities{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.abilities .group{
    background-color: #b74555;
    color: white;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
    margin-left: 1rem;
}
.base-stat{
    margin-top: 2rem;
}
.btn-group{
    display: flex;
}
.btn-group button{
    outline: none;
    border: none;
    width: 150px;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #b74555;
    border-radius: 8px;
}

.modalInfo {
    width: 90%;
    margin: auto;
  
}

#pokedex {
    text-align: center;

}

#nameDetails {
    text-align: right;
    margin-right: 400px;
}


#imgDetails  {
margin-left: 100px;
display: inline-block
}



.details {
display: inline-block;
justify-content: space-between;
width: 300px


}

.heightAndWeight {
    text-align: center;
    position: relative;
    left: 200px;
    top: 80px;
  width: 50%;


}

.experienceAndAbility {
    text-align: center;
position: relative;   
left: 600px;
bottom: 10px;
width: 50%;


}

.homePage {
    width: 100%;
}

h5 {
    color: gray
}