.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: papayawhip;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
